{% extends 'base.html'%}

{% block content %}
<h1> Vitenskap og pseudovitenskap </h1>


<h3>Del 1: viktighet ved skilling av vitenskap og pseudovitenskap</h3>

<p>
Det er viktig å skille vitenskap fra pseudovitenskap siden det er vitenskapen som ligger til grunne for samfunnet, og vi baserer mye av hva vi tenker, og gjør, på hva vitenskapen sier. Dette fører oss videre til å skille vitenskap fra pseudovitenskap, og dette gjørs gjennom Demarkasjonskriteriet. Et demarkasjonskriterium er et kriterium som sier oss hva som skiller vitenskap fra pseudovitenskap. Et tidligere forsøk på et demarkasjonskriterium har vert at vitenskap bruker observasjoner og eksperimenter for å kunne legge sine teorier til grunne. Dette funker ikke siden det har vært pseudovitenskap som også har brukt disse metodene til å grunnfeste sine teorier.  Og dermed trengs det et nytt kriterium.
</p>
<h3>
Del 2: Popper og Kuhns syn på vitenskap
</h3>
<p>
Et problem som dukker opp når man skal skille vitenskap fra pseudovitenskap er induksjonsproblemet. Siden induktiv kunnskap legger empirisme til grunne, altså at man baserer sine teorier på hva man har observert. Dette skiller seg ifra deduktiv kunnskap. Vi kan ta for oss noen eksempler. <br>
&nbsp (deduktiv) Set at vi vet at A og B er bevist å være sanne: vi vet at A -> B og B -> C, vi kan da se at A -> C. F.eks. alle mennesker dør, X er et menneske, ergo X vil dø. (induktiv) Set at vi tar for oss A og B som vi er sanne. Vi observerer A som predikatet til B hele tiden. Dermed kan vi si at A er alltid predikatet til B. Dette fører til et problem - induksjonsproblemet – siden vi kan ikke vite helt sikkert om vår induktive kunnskap er helt sikker. Dette kan være fordi vi leter etter informasjon som støtter vår allerede lagd teori.<br>
&nbsp Popper mente at for å kunne skille vitenskap fra pseudovitenskap så måtte man kunne sjekke om den var falsifiserbar. Dvs. at det er mulig å kunne sette opp en test for å sjekke om den teorien man har er feil. Videre så mente han at hvis en teori satt opp ad hoc hypoteser så redde teorien sin så var det et tegn på at teorien var pseudovitenskap. Lakatos kritiserer denne teorien til Popper siden det kan finnes vitenskapelige teorier som ikke har noe gående for seg og vice versa. Det eneste denne typen demarkasjonskriterium gjør er å skille vitenskapelig metode fra ikke vitenskapelig metode.<br>
&nbsp Kuhn mente at vitenskap og pseudovitenskap skilles gjennom paradigmer. Et paradigme består av aksepterte teorier, metoder, lover, antagelser og teknologier som en gruppe forskere jobber innenfor.  Og vitenskapen har ulike faser, ulike sett med paradigmer, som viser at kunnskapen vi får fra dem er sikker.<br>
&nbsp Normalvitenskap: problemløsning innenfor paradigmet.<br>
&nbsp Anomalier: betegnelse for data som ikke går overens med teorien<br>
&nbsp Krise: for mange anomalier, det er for mange anomalier som gjør at man ikke kan stole på teoriene<br>
&nbsp Revolusjon: man bytter ut paradigmet<br>
&nbsp Pre-paradigme fase: alternative konsept sloss mot hverandre<br>
&nbsp Nytt paradigme: det kommer et nytt paradigme kommer<br>
</p>
<h3>
Del 3: Laktos’ kritikk av Popper og Kuhn sitt forslag til demarkasjonskriterium
</h3>
<p>
    Lakatos kritiserer Popper sitt syn av falsifikasjon siden det betyr ikke at teorien er pseudovitenskap, siden en vitenskapelig teori trenger ikke pseudovitenskap bare fordi det er noen feil i teorien. Ved å forkaste alle teorier som feiler falsifikasjonstesten så vil det ikke være mange teorier som overlever. Og forskere kommer ofte med redningshypoteser slik at de skal passe med hvordan verden er. Lakatos kritiserer også Kuhn for sitt syn på paradigmeskifte. Siden Kuhn mener at skifte i paradigmer er urasjonelt og anarkisk, mens Lakatos mener at dette skiftet er rasjonelt. Er enig med popper at vi trenger en forståelse av teoretisk endring som rasjonelt begrunnet. Videre tar Lakatos og anerkjenner den store betydningen av vitenskapshistorie som Kuhn har til grunne. Men man bør se på hva som gjør at vitenskapsfolk prøver å holde på sine teorier.<br>
    &nbsp Forskningsprogrammer<br>
    &nbsp Lakatos mener at det er komplekse rammeverk som guider vitenskapelige spørsmål, eksperimenter og tolkninger av data. De er historiske enheter som eksister i en periode, endrer seg over tid, løser problemer og takler anomalier. Tanken er at alle teorier har anomalier, men det kommer helt an på hvordan man på hvordan det påvirker teorien og hvordan man håndterer dem. Lakatos deler så opp i to typer forskningsprogrammer: progressive forskningsprogrammer (vitenskap) og degenerende forskningsprogrammer (pseudovitenskap).<br>
    Progressive forskningsprogrammer:
    <ul>
    <li>Gjør nye prediksjoner</li>
    <li>Øker forklaringsevnen til programmet</li>
    <li>Ser mot fremtiden</li>
    <li>Takler problematiske funn samtidig som det øker evnen til prediksjon og problemløsning</li>
    </ul>
    Degenererende forskningsprogrammer:
    <ul>
    <li> Gjør ikke nye prediksjoner</li>
    <li> Øker ikke sin forklaringsevne</li>
    <li> Fokusert på nåtiden</li>
    <li> Takler problematiske funn og forklarer nye data, men gir ingen indikasjon på hvor man bør gå videre</li>
    </ul>
    Demarkasjonskriterium: Degenererende forskningsprogram dør langsomt etter hvert som flere og flere forskere vil skifte til mer progressive forskningsprogrammer.    
</p>
<h3>Del 4: Noen problemer med Lakatos’ syn, og alternativer</h3>
<p>
    Det første problemet med Lakatos’ syn er at vi ikke vet hvor lenge et forskningsprogram skal degenerere før vi kan anse det som pseudovitenskap. Historien viser forskningsprogram som var pseudovitenskap, så vi kan ikke rasjonelt avgjøre, hva som er pseudovitenskap, her og nå. <br>
	&nbsp Et annet problem er at vi leter etter ettkriterium som skiller vitenskap fra pseudovitenskap, og det er så mye som er vitenskap at det er sikkert vanskelig å peke på en enkel ting som et demarkasjonskriterium. <br>
    &nbsp Vår forståelse av vitenskap kan endre seg over tid. Vitenskapelige fremskritt løser gamle anomalier, nye problemer, har enklere/mer elegante teorier og større forklaringskraft. Derfor gir det mer mening å ikke ha ett kriterium, men en liste som skiller vitenskap og pseudovitenskap <br>
Vitenskapens etos:
<ul>
<li> Vitenskapelig kunnskap er felleseie</li>
<li> Vitenskapelig kunnskap er gyldig overalt</li>
<li> Forskere lar ikke deres interesser ha innvirkning på vitenskapen</li>
<li> Vitenskapelig kunnskap skal hele tiden testes og undersøkes kritisk</li>
</ul>
Pseudovitenskap kjennetegnes ved:
<ul>
<li> Tro på autoriteter</li>
<li> Eksperimenter som ikke kan gjentas med samme utfall (manglende repliserbarhet)</li>
<li> Håndplukkede eksempler</li>
<li> Uvilje mot å teste en teori</li>
<li> Neglisjerer observasjoner og eksperimenter som er i konflikt med teorien</li>
<li> Tester som ikke kan undergrave teorien, kun bekrefte den</li>
<li> Man oppgir forklaringer uten erstatning, og resultatet får mindre forklaringskraft</li>
</ul>
</p>
{% endblock %}
